{% extends base_template %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-12">
        <h1 class="page-header">
            健信RTSEC网络安全管理攻击
        </h1>
        <div class="breadcrumb">
            <div class="row">
                <div class="col-xs-10">
                    <button type="button" class="btn btn-success my-wrong" >（启动）Start</button>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-danger my-wrong" >（恢复）Reset</button>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="newspaper">
                <button type="button" id="start" name=Schneider class="btn btn-success">启动</button>
                <p1>Arp欺骗(Schneider):</p1>
                <h4>伪造一个不存在的MAC地址，导致网络不通。</h4>
            </div>
        </div>

    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript">
       $(document).ready(function() {
           $(".my-wrong").on("click",function () {

               alert('启动成功')
               var array=[{
                   name:'Arp欺骗(Schneider)'},
                   {start:1}];
               $.post( {url:"/xadmin/page/testpage8",

                       // csrfmiddlewaretoken:"{{ csrf_token }}",
                        data:JSON.stringify(array)
                   },
                   function (data,status) {
                     if(status=='success') {
                    window.location.reload();
                    alert("启动成功")}

                     else {
                         alert("启动失败")}
               })
           });
       })
    </script>
    </div>
{% endblock %}