{% extends base_template %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-12">
        <h1 class="page-header">
            健信RTSEC网络安全管理攻击
        </h1>
        <div class="breadcrumb">
            <div class="row">
                <div class="col-xs-10">
                        <button type="button" class="btn btn-success" id="but1" >（启动）Start</button>

                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-danger" id="but2">（恢复）Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="newspaper">
                <button type="button" class="btn btn-success">启动</button>
                <p3>指令注入(Siemens):</p3>
                <h4>发送恶意指令，修改PLC状态。</h4>
            </div>
        </div>
    </div>
 <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
         <script type="text/javascript">
             $(document).ready(function () {
            $("#but1").on("click", function () {
                alert('启动成功')
                var formdata = new FormData()
                formdata.append('name', '指令注入(Siemens)')
                formdata.append('start', 1)
                var request = new XMLHttpRequest()
                request.open('post', "http://127.0.0.1:8000/arp/", true)
                request.onload = function(){
                    if (request.status == 200 && request.readyState == 4 ){
                        alert(request.responseText)
                    }
                }
                request.send(formdata)
            });
            $("#but2").on("click", function () {
                alert('恢复成功')

            })
        })

    </script>


{% endblock %}